<h1>Enter vehicle details</h1>

<form action="/vehicles" method="post">
  name:<br>
  <input type="text" name="name"><br>
  category:<br>
  <input type="text" name="category"><br>
  image: <br>
  <input type="text" name="image">

<input type="submit" value="Save new vehicle">

</form>
