<header class="main-head"><h1>Pure mad mental vehicle rental<h1></header>

<div class="">
<h3>Vehicles on hire: <%=@vehicles_on_hire.count%></h3>
</div>

<div class="">
<h3>Vehicles available: <%=@available_vehicles.count%></h3>
</div>
