<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/vehicles">Vehicles</a>
      </li>
      <ul>
        <li><a href="/vehicles/available">available</a>
        </li>
        <li><a href="/vehicles/onhire">on-hire</a>
        </li>
      </ul>
      <li>
        <a href="/customers">Customers</a>
      </li>
      <li>
        <a href="/rentals">Rentals</a>
      </li>
    </ul>
  </nav>
    <section id="content">
    <%= yield %>
    </section>
  </body>
</html>
