<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Shade" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Inline" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" >
    <title></title>
  </head>
  <body>



    <nav class="flex flex--row">
      <ul>
        <li class="home"><a href="/">Home</a></li>

        <li class="vehicles"><a href="/vehicles">Vehicles</a></li>

        <li class ="customers"><a href="/customers">Customers</a></li>

        <li class ="rentals"><a href="/rentals">Rentals</a></li>
      </ul>
    </nav>

    <main >
      <section id="content">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
