<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="">

    <nav class="main-nav">
      <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/vehicles">Vehicles</a></li>

        <li><a href="/customers">Customers</a></li>

        <li><a href="/rentals">Rentals</a></li>
      </ul>
    </nav>

  </div>
    <section id="content">
    <%= yield %>
    </section>
  </body>
</html>
