body {
  font-family: 'Bungee Inline', cursive;
  background-color: yellow;
}


h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  color: red;
}


hr {
    width: 100%;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    background-color: red;
    display: block;
    padding-top: 70px
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

figure {
    border: thick red solid;
    display: flex;
    flex-flow: column;
    padding: 2px;
    max-width: 320px;

}

img {
    max-width: 320px;
    max-height: 250px;
    border: thick red solid
}


.home {
  color: black;
}

.vehicles {
  color: red;
}

.customers {
  color: blue;
}

.rentals {
  color: green;
}

.main-head {
  grid-area: header;
}

.content {
  grid-area: content;
  flex-flow: row;
}

.main-nav {
  grid-area: nav;
}

.side {
  grid-area: sidebar;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "header  header header header header"
      "sidebar content content content content"
      "footer footer footer footer footer";
}


.flex--row {
  flex-direction: row;
}

nav ul {
    display: flex;
    justify-content: space-between;
  }
