<h1>Customers</h1>

<a href="/customers/new">Add new customer</a>
<br>

<% @customers.each do |customer| %>
  <h2><%= customer.second_name %>, <%= customer.first_name %></h2>

  <a href="/customers/<%=customer.id%>/rent">Set up rental</a>
  <% end %>
