<h1>New customer</h1>

<form action="/customers" method="post" >
  second_name:<br>
  <input type="text" name="second_name" value="Enter second name"><br>
  first_name:<br>
  <input type="text" name="first_name" value="Enter first name"><br>

<input type="submit" value="Save new customer">

</form>
