<header class="main-head"><h1 class="customers">New customer</h1></header>
<div class="">
<hr>
  <div class="">
   <h3>Enter details below</h3>
  </div>

<form action="/customers" method="post">
  first_name: <input type="text" name="first_name" value="Enter first name"><br>
  second_name: <input type="text" name="second_name" value="Enter second name"><br>


<input type="submit" value="Save new customer">

</form>
<hr>
