<h1>New customer details</h1>

<form action="/customers" method="post">
  second_name:<br>
  <input type="text" name="name"><br>
  first_name:<br>
  <input type="text" name="category"><br>
  

<input type="submit" value="Save new customer">

</form>
